---
# Copyright (c) Ansible Project
# GNU General Public License v3.0+ (see LICENSES/GPL-3.0-or-later.txt or https://www.gnu.org/licenses/gpl-3.0.txt)
# SPDX-License-Identifier: GPL-3.0-or-later

trigger:
  batch: true
  branches:
    include:
      - main
      - stable-*

pr:
  autoCancel: true
  branches:
    include:
      - main
      - stable-*

schedules:
  - cron: 0 9 * * *
    displayName: Nightly
    always: true
    branches:
      include:
        - main
  - cron: 0 12 * * 0
    displayName: Weekly (old stable branches)
    always: true
    branches:
      include:
        - stable-*

variables:
  - name: checkoutPath
    value: ansible_collections/community/crypto
  - name: coverageBranches
    value: main
  - name: pipelinesCoverage
    value: coverage
  - name: entryPoint
    value: tests/utils/shippable/shippable.sh
  - name: fetchDepth
    value: 0

resources:
  containers:
    - container: default
      image: quay.io/ansible/azure-pipelines-test-container:3.0.0

pool: Standard

stages:
### Sanity & units
  - stage: Ansible_devel
    displayName: Sanity & Units devel
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          targets:
            - name: Sanity
              test: 'devel/sanity/1'
            - name: Sanity Extra # Only on devel
              test: 'devel/sanity/extra'
            - name: Units
              test: 'devel/units/1'
  - stage: Ansible_2_15
    displayName: Sanity & Units 2.15
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          targets:
            - name: Sanity
              test: '2.15/sanity/1'
            - name: Units
              test: '2.15/units/1'
  - stage: Ansible_2_14
    displayName: Sanity & Units 2.14
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          targets:
            - name: Sanity
              test: '2.14/sanity/1'
            - name: Units
              test: '2.14/units/1'
  - stage: Ansible_2_13
    displayName: Sanity & Units 2.13
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          targets:
            - name: Sanity
              test: '2.13/sanity/1'
            - name: Units
              test: '2.13/units/1'
  - stage: Ansible_2_12
    displayName: Sanity & Units 2.12
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          targets:
            - name: Sanity
              test: '2.12/sanity/1'
            - name: Units
              test: '2.12/units/1'
### Docker
  - stage: Docker_devel
    displayName: Docker devel
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          testFormat: devel/linux/{0}
          targets:
            - name: Fedora 37
              test: fedora37
            - name: openSUSE 15
              test: opensuse15
            - name: Ubuntu 20.04
              test: ubuntu2004
            - name: Ubuntu 22.04
              test: ubuntu2204
            - name: Alpine 3
              test: alpine3
          groups:
            - 1
            - 2
  - stage: Docker_2_15
    displayName: Docker 2.15
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          testFormat: 2.15/linux/{0}
          targets:
            - name: CentOS 7
              test: centos7
          groups:
            - 1
            - 2
  - stage: Docker_2_14
    displayName: Docker 2.14
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          testFormat: 2.14/linux/{0}
          targets:
            - name: Fedora 36
              test: fedora36
          groups:
            - 1
            - 2
  - stage: Docker_2_13
    displayName: Docker 2.13
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          testFormat: 2.13/linux/{0}
          targets:
            - name: openSUSE 15 py2
              test: opensuse15py2
            - name: Fedora 35
              test: fedora35
            - name: Fedora 34
              test: fedora34
            - name: Ubuntu 18.04
              test: ubuntu1804
            - name: Alpine 3
              test: alpine3
          groups:
            - 1
            - 2
  - stage: Docker_2_12
    displayName: Docker 2.12
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          testFormat: 2.12/linux/{0}
          targets:
            - name: CentOS 6
              test: centos6
            - name: Fedora 33
              test: fedora33
          groups:
            - 1
            - 2

### Community Docker
  - stage: Docker_community_devel
    displayName: Docker (community images) devel
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          testFormat: devel/linux-community/{0}
          targets:
            - name: Debian Bullseye
              test: debian-bullseye/3.9
            - name: ArchLinux
              test: archlinux/3.10
            - name: CentOS Stream 8 with Python 3.9
              test: centos-stream8/3.9
            - name: CentOS Stream 8 with Python 3.6
              test: centos-stream8/3.6
          groups:
            - 1
            - 2

### Remote
  - stage: Remote_devel_extra_vms
    displayName: Remote devel extra VMs
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          testFormat: devel/{0}
          targets:
            - name: Alpine 3.17
              test: alpine/3.17
            - name: Fedora 37
              test: fedora/37
            - name: Ubuntu 20.04
              test: ubuntu/20.04
            - name: Ubuntu 22.04
              test: ubuntu/22.04
          groups:
            - vm
  - stage: Remote_devel
    displayName: Remote devel
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          testFormat: devel/{0}
          targets:
            - name: macOS 13.2
              test: macos/13.2
            - name: RHEL 9.1
              test: rhel/9.1
            - name: FreeBSD 12.4
              test: freebsd/12.4
            - name: FreeBSD 13.1
              test: freebsd/13.1
          groups:
            - 1
            - 2
  - stage: Remote_2_15
    displayName: Remote 2.15
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          testFormat: 2.15/{0}
          targets:
            - name: RHEL 7.9
              test: rhel/7.9
          groups:
            - 1
            - 2
  - stage: Remote_2_14
    displayName: Remote 2.14
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          testFormat: 2.14/{0}
          targets:
            - name: macOS 12.0
              test: macos/12.0
            - name: RHEL 9.0
              test: rhel/9.0
            - name: FreeBSD 12.3
              test: freebsd/12.3
          groups:
            - 1
            - 2
  - stage: Remote_2_13
    displayName: Remote 2.13
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          testFormat: 2.13/{0}
          targets:
            - name: RHEL 8.5
              test: rhel/8.5
            - name: FreeBSD 13.0
              test: freebsd/13.0
          groups:
            - 1
            - 2
  - stage: Remote_2_12
    displayName: Remote 2.12
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          testFormat: 2.12/{0}
          targets:
            # Not working anymore:
            # - name: macOS 11.1
            #   test: macos/11.1
            - name: RHEL 8.4
              test: rhel/8.4
            - name: FreeBSD 12.2
              test: freebsd/12.2
          groups:
            - 1
            - 2
### Generic
  - stage: Generic_devel
    displayName: Generic devel
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Python {0}
          testFormat: devel/generic/{0}
          targets:
            - test: 2.7
            - test: 3.5
            - test: 3.6
            - test: 3.7
            # - test: 3.8
            # - test: 3.9
            # - test: "3.10"
            - test: "3.11"
          groups:
            - 1
            - 2
  - stage: Generic_2_15
    displayName: Generic 2.15
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Python {0}
          testFormat: 2.15/generic/{0}
          targets:
            - test: "3.10"
          groups:
            - 1
            - 2
  - stage: Generic_2_14
    displayName: Generic 2.14
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Python {0}
          testFormat: 2.14/generic/{0}
          targets:
            - test: 3.9
          groups:
            - 1
            - 2
  - stage: Generic_2_13
    displayName: Generic 2.13
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Python {0}
          testFormat: 2.13/generic/{0}
          targets:
            - test: 3.8
          groups:
            - 1
            - 2
  - stage: Generic_2_12
    displayName: Generic 2.12
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Python {0}
          testFormat: 2.12/generic/{0}
          targets:
            - test: 2.6
            - test: 3.9
          groups:
            - 1
            - 2

  ## Finally

  - stage: Summary
    condition: succeededOrFailed()
    dependsOn:
      - Ansible_devel
      - Ansible_2_15
      - Ansible_2_14
      - Ansible_2_13
      - Ansible_2_12
      - Remote_devel_extra_vms
      - Remote_devel
      - Remote_2_15
      - Remote_2_14
      - Remote_2_13
      - Remote_2_12
      - Docker_devel
      - Docker_2_15
      - Docker_2_14
      - Docker_2_13
      - Docker_2_12
      - Docker_community_devel
      - Generic_devel
      - Generic_2_15
      - Generic_2_14
      - Generic_2_13
      - Generic_2_12
    jobs:
      - template: templates/coverage.yml
